@model MyInflatables.ViewModels.ToyListViewModel


<div class="row"><div class="col-lg-12"><h2>My Toys List</h2><p>Toys: @Model.Toys.Count()</p></div></div>


<div class="row">
    <div class="col-lg-6">
        @Html.Partial("_filter", Model)
        </div>
    <div class="col-lg-6"><a asp-controller="toys" asp-action="create" class="btn btn-danger text-center btn-block">Add new toy</a></div>
</div>

@{
    <div class="row">
        @if (Model.Toys.Count() > 0)
        {
            foreach (var m in Model.Toys)
            {

                <div class="col-lg-3">
                    <div class="card">
                        <div class="img-container">
                            @if (m.Gallery != null && m.Gallery.Count > 0)
                            {
                                <img class="card-img-top" src="~/img/toys/@m.Gallery.FirstOrDefault()?.FileName" />
                            }
                            else
                            {
                                <img class="card-img-top" src="~/img/no_img.jpg" />
                            }
                        </div>
                        <div class="card-block">
                            <h5><b>@m.Name</b></h5>
                            <p>Category: @m.Category.Name</p>
                            <p>Producer: @m.Producer.Name</p>
                        </div>
                        <footer class="card-block">
                            <a asp-controller="toys" asp-action="remove" asp-route-id="@m.ToyID">Remove</a> |
                            <a asp-controller="toys" asp-action="edit" asp-route-id="@m.ToyID">Edit</a> |
                            <a asp-controller="toys" asp-action="details" asp-route-id="@m.ToyID">More</a>
                        </footer>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Sorry! - No toys :(</p>
        }
    </div>
}