@model MyInflatables.ViewModels.ToyListViewModel


<div class="row">
    <div class="col-lg-12">
        <h2>My collection (Total @Model.Toys.Count())</h2>
    </div>
</div>


<div class="row line">
    <div class="col-lg-6">
        @Html.Partial("_filter", Model)
    </div>
    <div class="col-lg-6"><a asp-controller="toys" asp-action="create" class="btn btn-danger text-center btn-block">Add new toy</a></div>
</div>

@{
    <div class="row">
        @if (Model.Toys.Count() > 0)
        {
            foreach (var m in Model.Toys)
            {
                <a asp-controller="toys" asp-action="details" asp-route-id="@m.ToyID">
                    <div class="card_box">
                        <div class="card_body">
                            @if (m.Gallery != null && m.Gallery.Count > 0)
                            {
                                <img src="~/img/toys/@m.Gallery.FirstOrDefault()?.FileName" />
                            }
                            else
                            {
                                <img src="~/img/no_img.jpg" />
                            }
                            <div class="info">
                                <p class="text-uppercase">@m.Name</p>
                                <p>by @m.Producer.Name</p>
                            </div>
                        </div>
                    </div>
                </a>
            }
        }
        else
        {
            <div class="col-lg-3">
                <p>Sorry! - No toys :(</p>
            </div>
        }
    </div>
}