@model IEnumerable<Collection.Models.Toy>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Index)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InCollection)
            </th>
            <th>Producer</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Index)
                </td>
                <td>
                    @{
                        if (item.InCollection)
                        {
                            <p>Yes</p>
                        }
                        else
                        {
                            <p>No</p>

                        }
                    }

                    @*@Html.DisplayFor(modelItem => item.InCollection)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ToyID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ToyID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ToyID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
