@using Microsoft.AspNetCore.Authorization
@using Collection.Infrastructure
@using Collection.Helpers.Tags

@model Collection.ViewModels.ToyListViewModel

@{
    ViewData["Title"] = "Index";
    var currentPage = ((int?)ViewData["Page"]) ?? 1;
}

@section Styles {
    <link href="~/css/card.css" rel="stylesheet" />
}

<div class="row ">
    <div class="col-md-12">
        <div class="row filter-container">
            <div class="col-md-2">
                @*<p class="filterbar-text pull-left">Items: @ViewData["TotalItems"]</p>*@
                @{
                    if ((await AuthorizationService.AuthorizeAsync(User, "modify")).Succeeded)
                    {
                        <a asp-action="Create" class="btn btn-danger navbar-btn pull-right col-md-12">Add New</a>
                    }
                }
            </div>

            <div class="col-md-2 text-right">
                <span>Show as: </span>
                <a asp-action="index" asp-controller="item" asp-route-showAs="list" asp-route-search="@ViewData["search"]" asp-route-display="@ViewData["display"]" asp-route-page="@ViewData["page"]" asp-route-filterBy="@ViewData["filterBy"]" asp-route-sortBy="@ViewData["sortBy"]" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-list"></span></a>
                <a asp-action="index" asp-controller="item" asp-route-showAs="gallery" asp-route-search="@ViewData["search"]" asp-route-display="@ViewData["display"]" asp-route-page="@ViewData["page"]" asp-route-filterBy="@ViewData["filterBy"]" asp-route-sortBy="@ViewData["sortBy"]" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-picture"></span></a>
            </div>

            <div class="col-md-5 text-right">
                <form asp-action="index" asp-controller="item" asp-route-showAs="@ViewData["showAs"]" asp-route-search="@ViewData["search"]" asp-route-display="@ViewData["display"]" asp-route-page="@ViewData["page"]" method="post" class="form-inline">
                    <div class="form-group">
                        <label class="">Show:</label>
                        <select name="filterBy" asp-for="@ViewData["filterBy"]" asp-items="@Model.Categories" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label>Sort by:</label>
                        <select name="sortBy" asp-for="@ViewData["sortBy"]" asp-items="@Model.Sort" class="form-control"></select>
                    </div>
                    <button type="submit" class="btn btn-info">Filter</button>
                </form>
            </div>

            <div class="col-md-3 pull-right">
                <form class="navbar-form navbar-right" method="get" action="~/item/index/">
                    <div class="input-group">
                        <input class="form-control" name="search" placeholder="Search for..." />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success">Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row filter-container">
            <div class="col-md-2">Items: @ViewData["TotalItems"]</div>
            <div class="col-md-2">Worth: @String.Format("{0:C}", Model.TotalPrice)</div>
        </div>
        <div class="row main-container">
            @{
                if ((string)ViewData["showAs"] == "gallery")
                {
                    await Html.RenderPartialAsync("_ToyGalleryPartial", Model.Toys);
                }
                else
                {
                    await Html.RenderPartialAsync("_ToyListPartial", Model.Toys);
                }
            }
        </div>
        <div class="row">
            <div class="col-md-12 text-center strech_full bg-collection">
                <pagination pg-current-page="@currentPage" pg-total-pages="@Model.Toys.TotalPages()" asp-action="index" asp-controller="item" asp-route-showAs="@ViewData["showAs"]" asp-route-search="@ViewData["search"]" asp-route-display="@ViewData["display"]" asp-route-page="@currentPage" asp-route-filterBy="@ViewData["filterBy"]" asp-route-sortBy="@ViewData["sortBy"]"></pagination>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('body').on('keyup', function (e) {
            switch (e.keyCode) {
                case 37: // <<
                    var prev = $('body').find('#btn-prev').attr('href');
                    if (prev != null)
                        window.location.href = prev;
                    break;
                case 39: // >>
                    var next = $('body').find('#btn-next').attr('href');
                    if (next != null)
                        window.location.href = next;
                    break;
                default:
                    break;
            }
            e.preventDefault();
        });
    </script>
}