@model IEnumerable<Collection.Models.Toy>


<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>Name</th>
            <th>Index</th>
            <th>Producer</th>
            <th>Category</th>
            @if (await AuthorizationService.AuthorizeAsync(User, "modify"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>

        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="list_img">
                            @{
                                var name = item.Gallery.FirstOrDefault()?.FileName;
                                <a asp-action="Details" asp-route-id="@item.ToyID">
                                    @if (!String.IsNullOrEmpty(name))
                                    {
                                        <img src=@($"/img/toys/thumbs/{name}.jpg") class="responsive" />
                                    }
                                    else
                                    {
                                        <img src=@("/img/no_img.jpg") class="responsive" />
                                    }
                                </a>
                            }
                        </div>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ToyID">@item.Name</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Index)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producer.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>

                    @if (await AuthorizationService.AuthorizeAsync(User, "modify"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ToyID" class="btn btn-primary col-md-12">Edit</a>
                            <hr />
                            <a asp-action="Delete" asp-route-id="@item.ToyID" class="btn btn-danger col-md-12">Delete</a>
                        </td>
                    }
                </tr>
                                }
        }
    </tbody>
</table>