@model IEnumerable<Collection.Models.Toy>


<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>Name</th>
            <th>Index</th>
            @if (ViewData["display"] as String == "sold")
            {
                <th>Sold Price</th>
            }
            else
            {
                <th>Price</th>

            }

            <th>Producer</th>
            <th>Category</th>
            @if ((await AuthorizationService.AuthorizeAsync(User, "modify")).Succeeded)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>

        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="list_img">
                            @{
                                var name = item.Gallery.FirstOrDefault()?.FileName;
                                //<a asp-action="Details" asp-route-id="@item.ToyID">
                                @if (!String.IsNullOrEmpty(name))
                                {
                                    <img src=@($"/img/toys/thumbs/{name}.jpg") class="responsive" />
                                }
                                else
                                {
                                    <img src=@("/img/no_img.jpg") class="responsive" />
                                }
                                //</a>
                            }
                        </div>
                    </td>
                    <td><strong>@item.Name</strong></td>
                    <td>@item.Index</td>
                    @if (ViewData["display"] as String == "sold")
                    {
                        <td class="text-right">@String.Format("{0:C}", item.SoldPrice)</td>
                    }
                    else
                    {
                        <td class="text-right">@String.Format("{0:C}", item.Price)</td>
                    }
                    <td>@item.Producer.Name</td>
                    <td>@item.Category.Name</td>

                    @if ((await AuthorizationService.AuthorizeAsync(User, "modify")).Succeeded)
                    {
                        <td>
                        <div class="btn-group-vertical">
                            <a asp-action="Edit" asp-route-id="@item.ToyID" class="btn edit"><span class="fa fa-edit"></span></a>
                            <a asp-action="Delete" asp-route-id="@item.ToyID" class="btn delete"><span class="fa fa-trash"></span></a>
                        </div>
                            
                            
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>