@model IEnumerable<Collection.Models.Toy>

<table class="table">
    <tbody>
        @{
            foreach (var item in Model)
            {
                    var isDamaged = !item.IsDamaged ? "disabled" : "";
                    var isForSale = !(item.ForSale || item.Sold) ? "disabled" : "";

                    var filename = item.Gallery.FirstOrDefault()?.FileName;
                    var path = String.IsNullOrEmpty(filename) ? "/img/no_img.jpg" : $"/img/toys/thumbs/{filename}.jpg";

                    var index = !String.IsNullOrEmpty(item.Index) ? "#" + item.Index : "";

                    decimal price = 0;
                    string date = null;

                    if(ViewData["display"] as String == "sold")
                    {
                        date = item.SoldDate?.ToString("dd/MM/yyyy");
                        price = @item.SoldPrice ?? 0;
                    }
                    else
                    {
                        date = item.PurchaseDate?.ToString("dd/MM/yyyy");
                        price = @item.Price;
                    }

                <tr class="item">
                    <td>
                        <article class="row">
                            <section class="col-md-2">
                                <div class="list_img">
                                 <img src=@(path) class="responsive" />
                                </div>
                            </section>
                            <section class="col-md-9">
                                <header class="row">
                                    <div class="col-md-11"><h4 class="name"><strong>@item.Name</strong></h4></div>
                                    <div class="col-md-1">
                                  
                                        <span class="fa icon fa-exclamation-triangle @isDamaged" title="Damaged"></span>
                                        <span class="fa icon fa-dollar-sign @isForSale" title="For Sale"></span>
                                    </div>
                                </header>
                                <section class="row">
                                    <section class="col-md-9">
                                        <p class="producer"><span>By </span>@item.Producer.Name @index</p>
                                        <p class="category">Category: @item.Category.Name</p>
                                    </section>
                                    <section class="col-md-3">
                                        <p class="text-right">@date</p>
                                        <p class="text-right">@price PLN</p>
                                    </section>
                                </section>
                            </section>
                            <section class="col-md-1">
                                @if ((await AuthorizationService.AuthorizeAsync(User, "modify")).Succeeded)
                                {
                                    <a asp-action="Delete" asp-route-id="@item.ToyID" class="btn  delete pull-right" title="Remove"><span class="fa fa-trash big-icon"></span></a>
                                    <a asp-action="Edit" asp-route-id="@item.ToyID" class="btn edit pull-right" title="Edit"><span class="fa fa-edit big-icon"></span></a>
                                }
                            </section>
                        </article>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>