@model MyInflatables.ViewModels.ToyListViewModel


<div class="row">
    <div class="col-lg-12">
        <h2>My collection (Total @Model.Toys.Count())</h2>
    </div>
</div>


<div class="row line">
    <div class="col-lg-6">
        @Html.Partial("_filter", Model)
    </div>
    <div class="col-lg-6"><a asp-controller="toys" asp-action="create" class="btn btn-danger text-center btn-block">Add new toy</a></div>
</div>

@{
    <div class="row">
        @if (Model.Toys.Count() > 0)
        {
            foreach (var m in Model.Toys)
            {

                <div class="card_box card_shadow">
                    <div class="card_body">
                        @*<a asp-controller="toys" asp-action="details" asp-route-id="@m.ToyID">*@
                        <a href="@($"/img/toys/{m.Gallery.FirstOrDefault()?.FileName}_l.jpg")" data-lightbox=@($"Toy{m.ToyID}")>
                            @if (m.Gallery != null && m.Gallery.Count > 0)
                            {
                                <img src="@($"/img/toys/thumb/{m.Gallery.FirstOrDefault()?.FileName}.jpg")" />
                            }
                            else
                            {
                                <img src="@($"/img/no_img.jpg")" />
                            }
                        </a>
                        @{ 
                            var images = m.Gallery.Skip(1).ToList();

                            foreach (var img in images)
                            {
                                <a href="@($"/img/toys/{img.FileName}_l.jpg")" data-lightbox="@($"Toy{m.ToyID}")"></a>
                            }

                        }


                        @*<div class="control">
                            <a asp-controller="toys" asp-action="edit" asp-route-id="@m.ToyID">Edit</a>
                            <a asp-controller="toys" asp-action="remove" asp-route-id="@m.ToyID">Delete</a>
                        </div>*@
                        <div class="info">
                            <p class="text-uppercase">@m.Name</p>
                            <p>by @m.Producer.Name</p>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-lg-3">
                <p>Sorry! - No toys :(</p>
            </div>
        }
    </div>
}